* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
html, body {
    background-color: #141414;
    overscroll-behavior: none;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.page-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.navbar{
    background: #0f0f0f;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top:0;
    z-index: 999;
}
.navcontainer{
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}
#navlogo{
    background-color: firebrick;
    background-image: linear-gradient(to top, #ff0844 0%, #ffb1ff 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}
.fa-gem{
    margin-right: 0.5rem;
}
.navmenu{
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}
.navitem{
    height: 80px;
}
.navlinks{
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}
.navbutton{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
}
.signupbutton{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #f77062;
    color: #fff;
}
.signupbutton:hover{
    background: #4837ff;
    transition: all 0.3s ease;
}
.navlinks:hover{
    color: #f77620;
    transition: all 0.3s ease;
}
@media screen and (max-width: 960px){
    .navcontainer{
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }
    .navmenu{
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 0;
        transition: all 0.5s ease;
        height: 50vh;
        z-index: -1;
        background: #131313;
    }
    .navmenu.active{
        background: #131313;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 50vh;
        font-size: 1.6rem;
    }
    #navlogo{
        padding-left: 25px;
    }
    .navtoggle .bar{
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #fff;
        display: block;
        cursor: pointer;
    }
    .navitem{
        width: 100%;
    }
    .navlinks{
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }
    #mobile-menu{
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%,20%);
    }
    .navbutton{
        padding-bottom: 2rem;
    }
    .signupbutton{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 80px;
        margin: 0;
    }
    #mobile-menu.is-active .bar:nth-child(2){
        opacity:0;
    }
    #mobile-menu.is-active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    #mobile-menu.is-active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
}

/*Actual code*/
.main-container{
    background-color: #202020;
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.generator-title{
    color: #fff;/*change later*/
    margin-bottom: 1rem;
}
.section-title{
    color: #fff;/*change later*/
    margin-bottom: 0.75rem;
    font-size: 1.2rem;
}
.section-desc{
    color: #fff;/*change later*/
    margin-bottom: 0.5rem;
    font-size: 0.75rem;
}
.section-wrap{
    display: flex;
    flex-direction: row;
    width: 500px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.75rem;
}
.section-container{
    display: flex;
    flex-direction: column;
    width: 30%;
    align-items: center;
    justify-content: space-between;
}
.input-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
}
.input-class{
    align-self: center;
    color: #fff;
    width: 100%;
    background-color: #525252;
    border: none;
    font-size: 15px;
    margin-bottom: 5px;
}
.select-button{
    font-size: 1rem;
    background-image: white;
    margin: 2px;
    padding: 2px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    transition: all 0.35s;
    outline: none;
    z-index: 1;
}
.select-button span {
    position: relative;
    z-index: 2;
    color: black;
    text-decoration: none;
}
.select-button:after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: green;
    transition: all 0.35s;
    border-radius: 4px;
    z-index: 1;
}

.select-button.active:after{
    width: 100%;
}
.practice-button{
    font-size: 1.5rem;
    background-image: linear-gradient(to top, #f77062 0%, #fe5196 100%);
    padding: 5px 10px;
    margin: 5px;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    position: relative;
    transition: all 0.35s;
    outline: none;
    z-index: 1;
    display: flex;
}
.practice-button span {
    position: relative;
    z-index: 2;
    color: #fff;
    text-decoration: none;
}
.practice-button:after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-image: linear-gradient(to top, #00f2fe 0%, #4facfe 100%);
    transition: all 0.35s;
    border-radius: 4px;
    z-index: 1;
}
.practice-button:hover{
    color: #fff;
}
.practice-button:hover:after{
    width: 100%;
}
.practice-question-class{
    margin: 1rem;
    font-size: 20rem;
    font-weight: 700;
    color: #fff;
}
.stopwatch{
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
}
/* Footer section */
.footer_container{
    background-color: #141414;
    padding: 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer-wrap{
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 10px auto 10px auto;
}
.website-right{
    display: flex;
    font-size: 1rem;
    color: #fff;
}
.footer_logo{
    background-image: linear-gradient(to top, #ff0844 0%, #ffb1ff 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.5rem;
}
@media screen and (max-width: 820px){
    .footer_logo{
        margin-bottom: 1rem;
    }
    .website-right{
        margin-bottom: 1rem;
    }
}